<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Health Check</h1>
    <p>Elite Trainer TCG is up and running!</p>
</div>

<div class="container">
    <div style="text-align: center" class="row">
        <div class="col-sm-4">
            <h3>Developers</h3>
            <hr>
            <p>Will    Irmler</p>
            <p>Spencer Tyminski</p>
        </div>
        <div class="col-sm-4">
            <h3>Goal</h3>
            <p>Creating the greatest assistant to your Pokemon TCG career!</p>
        </div>
        <div class="col-sm-4">
            <h3>Favorite Cards</h3>
            <p>Oricorio - CEL30/160</p>
            <p>Malamar  - SM8b178/150</p>
        </div>
    </div>
</div>

</body>
</html>