<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<style>
    html,body {
        background-color:darkred;  
        height:100%;
    }
    .user-input {
        background: none;
        color: black;
        border-color: black;
        border-radius: 3px;
        border-style:solid;
    }

    .user-input:focus {
        box-shadow: 0px 0px 4px 2px darkslategrey;
        background:none;
        border-style:groove;
    }
</style>
</head>

<body>

<div class="container-fluid">
    <div class="row text-center" style="background-color:#2b2b2b; color:cornsilk;">
        <div class="col-sm-12">
                <h1>ETCG Signup</h1>
        </div>
    </div>
    <div class="row text-center" style="height:100%;">
        <div class="offset-sm-2 col-sm-8" style="background-color:#2be1fc; padding:50px;">
            <div class="offset-sm-3 col-sm-6">
                    <form action="/signup" method="POST">
                        <h2>WELCOME!</h2>
                        <div class="form-group" style="padding-top:25px;">
                            <div><input class="form-control user-input text-center" placeholder="username" type="text" name="username"/></div>
                            <br/>
                            <input class="form-control user-input text-center" placeholder="email" type="email" name="email"/>
                            <br/>
                            <input  class="form-control user-input text-center" placeholder="password" type="password" name="password"/>
                            <br/>
                            <input class="form-control user-input text-center" placeholder="verify password" type="password" name="verify"/>
                            <br/>
                            <hr />
                            <input style="width:25%;" class="btn btn-primary form-control text-center" type="submit" value="submit"/>
                            <a href="/signin" style="width:25%;"  class="form-control btn btn-info text-center">sign in</a>
                        </div>
                    </form>
            </div>
           
        </div>
    </div>
</div>

</body>
</html>