#card-hires-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-next-prev {
    box-shadow:inset 1px 2px 9px 0px #bee2f9;
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    background-color:#63b8ee;
    border-radius:42px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#175eeb;
    font-family:Courier New;
    font-size:28px;
    padding:13px 19px;
    text-decoration:none;
    text-shadow:1px -3px 2px #7cacde;
}
.btn-next-prev:hover {
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    background-color:#468ccf;
}
.btn-next-prev:active {
    position:relative;
    top:1px;
}

.carousel-control-next,
.carousel-control-prev {
    color: #175eeb;
  filter: invert(100%);
}

.jumbotron{
    max-height: 400px;
    min-height: 400px;
}